.App {
  min-height: 100vh;
  background-color: #282c34;
  font-size: 14px;
}

.App-header {
  display: flex;
  padding: 10vh;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.App-link {
  font-size: calc(30px + 2vmin);
  color: #96cdcc;
  font-weight: 100;
}

.App-link:hover,
.App-link:focus {
  color: #a6d6d5;
}

.react-logo {
  animation: react-logo-spin infinite 20s linear;
  height: 20vmin;
}

.mint-editor-logo {
  position: relative;
  animation: mint-editor-logo-move infinite 2s ease;
  height: 20vmin;
  z-index: 1;
}

.App-body {
  width: 600px;
  margin: 10px auto;
  overflow: hidden;
}

.submit-button {
  float: right;
  border-radius: 10px;
  width: 80px;
  height: 32px;
  line-height: 32px;
  margin-top: 5px;
  text-align: center;
  color: #fff;
  background: #71af85;
  box-sizing: border-box;
  cursor: pointer;
}

.submit-button:hover {
  opacity: .9;
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes mint-editor-logo-move {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(0%);
  }
}