.mint-editor-edit-box-container {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 4px 6px;
  min-width: 500px;
  min-height: 100px;
  background: #fff;
  color: #000;
  box-sizing: border-box;
}